<% include header %>

<h1><%-title %></h1>
<p>Welcome to <%-title %></p>
<div id="content">
  <fieldset class="column left">
    <div id="stdout" class="row top">
      <textarea id="stdout-textarea" name="stdout" ></textarea>
    </div>
    <div id="stderr" class="row bottom">
      <textarea id="stderr-textarea" name="stdout" ></textarea>
    </div>
    <textarea id="stdin-textarea" name="stdin"></textarea>
    <button type="button" id="send-button" class="btn btn-lg btn-primary" style="float:left">Send</button>
    <span><h4>Ctrl+Enter to send command to robot, Ctrl+C to restart roseus. *ri* and *sr* is preloaded.</h4></span>
  </fieldset>
  <fieldset class="column right">
    <iframe src="http://133.11.216.151:8080/"></iframe>
  </fieldset>
  <fieldset class="bottom">
  </fieldset>

</div>
<% locals.JS_FILES = ["/js/index.js"]; %>
<% include footer %>
